@import 'tailwindcss' theme(static);
@plugin "@tailwindcss/typography";
@source "../views/";
@source "../../app/";

@theme {
  --color-primary: '#1B1F3B';
  --color-secondary: '#9CA3AF';
  --color-accent-1: '#F9FAFB';
  --color-accent-2: '#FBBF24';
  --color-accent-3: '#DC2626';

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Merriweather', serif;
}
